In [2]:
%pip install pandas numpy

Collecting pandas
  Using cached pandas-2.0.3-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.4 MB)
Collecting numpy
  Using cached numpy-1.24.4-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (17.3 MB)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/ayush/.local/lib/python3.8/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas) (1.14.0)
Installing collected packages: pytz, numpy, tzdata, pandas
Successfully installed numpy-1.24.4 pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [10]:
import pandas as pd
import numpy as np
import datetime as dt

In [25]:
df = pd.read_csv('../dataset/stream.csv')
df.head()

,index,date,open,close,low,high,volume
0,596153,2022-01-03 09:15:00+05:30,17387.15,17428.90,17387.15,17438.40,0
1,596154,2022-01-03 09:16:00+05:30,17428.40,17450.55,17428.40,17451.45,0
2,596155,2022-01-03 09:17:00+05:30,17450.05,17457.70,17442.05,17459.55,0
3,596156,2022-01-03 09:18:00+05:30,17455.95,17464.55,17455.30,17465.75,0
4,596157,2022-01-03 09:19:00+05:30,17465.25,17473.20,17462.15,17474.65,0